# Ignore Microscopy Files (Extremely large / may not want to be shared or committed)
*.emd
*.h5
*.ser
*.emi
*.dm3
*.dm4

# Ignore Python Cache Files (made when code is run locally, specific to the machine, not meant to be uploaded/shared/used)
*.pyc

# Ignore Cursor Files, used for development only
.cursor/

# Ignore env Files, used for development only, stores sensitive information
.env

# Ignore this credentials file
gcs-service-account.json

# Ignore the secrets folder
secrets/

# Ignore files made as backups, development files, etc.
backup_files/

# Ignore the backend static files, these should be build during google cloud / docker deployment 
# by the Dockerfile file at root of the project
backend/static/
